<header>
    <img src="/imgs/logo.svg" alt="">
</header>

<main>
    <section class="menu">
        <div class="options">
            <div class="option">
                <img src="/imgs/home-icon.svg" alt="">
                <h5>Página Inicial</h5>
            </div>
            <div class="option">
                <img src="imgs/create-icon.svg" alt="">
                <h5>Criar um correio</h5>
            </div>
        </div>
        <hr>
        <div class="categories">
            <div class="option">
                <img src="/imgs/categorize-icon.svg" alt="">
                <h5>Categorias</h5>
            </div>
            <div class="category">
                <img src="/imgs/art-icon.svg" alt="">
                <h6>Arte</h6>
            </div>
            <div class="category">
                <img src="/imgs/cinema-icon.svg" alt="">
                <h6>Cinema e TV</h6>
            </div>
            <div class="category">
                <img src="/imgs/science-icon.svg" alt="">
                <h6>Ciências</h6>
            </div>
            <div class="category">
                <img src="/imgs/pop-icon.svg" alt="">
                <h6>Cultura pop</h6>
            </div>
            <div class="category">
                <img src="/imgs/sport-icon.svg" alt="">
                <h6>Esportes</h6>
            </div>
            <div class="category">
                <img src="/imgs/humor-icon.svg" alt="">
                <h6>Humor</h6>
            </div>
            <div class="category">
                <img src="/imgs/politics-icon.svg" alt="">
                <h6>Política</h6>
            </div>
            <div class="category">
                <img src="/imgs/business-icon.svg" alt="">
                <h6>Negócios</h6>
            </div>
        </div>
        <hr>
        <div class="logout">
            <div class="option">
                <img src="/imgs/logout-icon.svg" alt="">
                <h5>Sair</h5>
            </div>
        </div>
    </section>
    <section class="correios">
        <div class="card">
            <div class="cd-header">
                <div class="profileInfo">
                    <h5>AstroVoyager</h5>
                    <h6>@atrosvoyagr</h6>
                </div>
                <div class="tagTheme">
                    <h6>Ciências</h6>
                </div>
                <div class="actions">
                    <img src="/imgs/edit-icon.svg" alt="">
                    <img src="/imgs/delete-icon.svg" alt="">
                </div>
            </div>
            <div class="cd-body">
                <h4>Descobrindo os Mistérios dos Buracos Negros</h4>
                <p>Saudações, exploradores do universo! Hoje vamos nos aventurar no fascinante mundo dos buracos negros, verdadeiros enigmas cósmicos que desafiam nossa compreensão do espaço e do tempo. Os buracos negros são regiões do espaço com uma força gravitacional tão intensa que nem mesmo a luz consegue escapar. Vamos explorar como esses gigantes celestes se formam, desde o colapso de estrelas massivas até as fusões de buracos negros supermassivos no centro das galáxias.Discutiremos também os efeitos dramáticos que os buracos negros têm no espaço-tempo ao seu redor, incluindo fenômenos como a dilatação do tempo e as distorções gravitacionais que podem ocorrer na presença desses objetos cósmicos.</p>
            </div>
            <div class="interactions">

            </div>
        </div>
    </section>
</main>
