<div class="container">
    <section class="leftBanner">
        <img src="/imgs/sideBanner.svg" alt="">
    </section>
    <section class="rightBanner">
        <div class="title">
            <h1>Hey! What's Up?</h1>
            <h2>Good to see you again.</h2>
        </div>
        <div class="forms">
            <label for="">Username</label>
            <input type="text">
            <label for="">Password</label>
            <input type="text">
        </div>
    </section>
</div>