<header>
    <img src="/imgs/logo.svg" alt="">
</header>

<main>
    <section class="menu">
        <div class="options">
            <div class="option">
                <img src="/imgs/home-icon.svg" alt="">
                <a href="/home">Página Inicial</a>
            </div>
            <div class="option">
                <img src="imgs/create-icon.svg" alt="">
                <a href="/create">Criar um correio</a>
            </div>
        </div>
        <hr class="divMenu">
        <div class="categories">
            <div class="option">
                <img src="/imgs/categorize-icon.svg" alt="">
                <h5>Categorias</h5>
            </div>
            <div class="category">
                <img src="/imgs/art-icon.svg" alt="">
                <h6>Arte</h6>
            </div>
            <div class="category">
                <img src="/imgs/cinema-icon.svg" alt="">
                <h6>Cinema e TV</h6>
            </div>
            <div class="category">
                <img src="/imgs/science-icon.svg" alt="">
                <h6>Ciências</h6>
            </div>
            <div class="category">
                <img src="/imgs/pop-icon.svg" alt="">
                <h6>Cultura pop</h6>
            </div>
            <div class="category">
                <img src="/imgs/sport-icon.svg" alt="">
                <h6>Esportes</h6>
            </div>
            <div class="category">
                <img src="/imgs/humor-icon.svg" alt="">
                <h6>Humor</h6>
            </div>
            <div class="category">
                <img src="/imgs/politics-icon.svg" alt="">
                <h6>Política</h6>
            </div>
            <div class="category">
                <img src="/imgs/business-icon.svg" alt="">
                <h6>Negócios</h6>
            </div>
        </div>
        <hr class="divMenu">
        <div class="logout">
            <div class="option">
                <img src="/imgs/logout-icon.svg" alt="">
                <a href="/logout">Sair</a>
            </div>
        </div>
    </section>
    <section class="creating">
        <form action="/upload" method="POST" enctype="multipart/form-data">

            <label for="">Titulo:</label>
            <input type="text" name="title" id="title">
  
            <label for="">Categoria</label>
            <input type="text" name="category" id="category" list="cat-opt" required>  
            <datalist id="cat-opt">
                <option value="Arte"></option>
                <option value="Cinema e TV"></option>
                <option value="Ciências"></option>
                <option value="Cultura POP"></option>
                <option value="Esportes"></option>
                <option value="Humor"></option>
                <option value="Política"></option>
                <option value="Negócios"></option>
            </datalist>

            <label for="">Post:</label>
            <input type="text" name="post" id="post">

            <input type="file" name="image" id="image">

            <button type="submit">Enviar</button>
        </form>
    </section>

    {{#if message}}
    <script>alert("{{message}}");</script>
    {{/if}}
</main>