<form action="/upload" method="POST" enctype="multipart/form-data">

    <label for="">Titulo</label>
    <input type="text">

    <input type="file">

    <button type="submit">Enviar</button>
</form>