<main>
    <!-- Seção para exibir mensagens -->
    <section class="message">
        <!-- Cartão para exibir e organizar o conteúdo -->
        <div class="card">
            <!-- Logotipo -->
            <div class="logo">
                <img src="/imgs/logo-black.svg" alt="">
            </div>
            <!-- Informações da mensagem -->
            <div class="info">
                <!-- Mensagem de erro dinâmica -->
                <p>{{message}}</p>

                <!-- Botões de ação -->
                <div class="buttons">
                    <!-- Botão para voltar -->
                    <a href="/home">Voltar</a>
                    <!-- Botão para fazer login -->
                    <a href="/">Login</a>
                </div>
            </div>
        </div>
    </section>
</main>