<main> 
    <section class="message">
        <div class="card">
            <div class="logo">
                <img src="/imgs/logo-black.svg" alt="" srcset="">
            </div>
            <div class="info">
                <p>{{message}}</p>

                <div class="buttons">
                    <a href="/home">Voltar</a>
                    <a href="/">Login</a>
                </div>
            </div>
        </div>
    </section>
</main>