<div class="container">
    <section class="ct-Leftinfo">
        <div class="title">
            <h1>Hey! How's it going?</h1>
            <h2>Create your account.</h2>
        </div>
        <form action="">
            <div class="form-controll">
                <div class="oneput">
                    <label for="">Name</label>
                    <input type="text">
                </div>

                <div class="oneput">
                    <label for="">Username</label>
                    <input type="text">
                </div>
            </div>

            <label for="">E-mail</label>
            <input type="text">

            <label for="">Password</label>
            <input type="text">
        </form>
        <button class="btn">Sign Up</button>
    </section>
    <section class="rightBanner">
        <img src="/imgs/sideBanner.svg" alt="">
    </section>
</div>