    .correios {
        width: 70%;
        min-height: auto;
        margin: 6vh 0 6vh 20%;
        display: grid;
        place-items: center;
        gap: 5vh;
    }

    .correios h1 {
        font-size: 2vw;
        font-weight: bold;
        margin: 15vh 0 3vh 0;
    }

    .card {
        width: 70%;
        min-height: auto;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
    }

    .cd-header {
        height: 25%;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #F2F2F2;
        padding: 3% 5%;
    }

    .profileInfo {
        width: 40%;
    }

    .profileInfo h5{
        font-size: 1.2vw;
    }

    .profileInfo h6{
        font-size: 1vw;
        color: #b7b7b7;
        font-weight: 500 !important;
    }

    .details {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .tagTheme {
        display: flex;
        background: #F2F2F2;
        padding: 1.5vh 1vw;
        border-radius: 5vw;
        font-size: 1.3vw;
        align-items: center;
        margin-right: 2vw;
    }

    .tagTheme h6 {
        color: #151515;
    }

    .actions {
        display: flex;
        width: 10%;
        justify-content: space-between;
    }

    .actions img{
        width: 2vw;
    }

    .cd-body {
        min-height: 10vh;
        overflow: auto;
        margin: 2% 0;
        padding: 1% 5%;
    }

    .divText {
        width: 100%;
        margin-top: 2%;
    }

    .cd-body h4,
    .cd-body p {
        padding: 1% 5%;
    }

    .cd-body h4 {
        font-size: 1.4vw;
        
    }

    .cd-body p {
        font-size: 1.2vw;
    }

    .cd-body .images img {
        height: 30vh;
    }

    .cd-body::-webkit-scrollbar {
        width: .7vw;
    }

    .cd-body::-webkit-scrollbar-track {
        background: #151515;
    }

    .cd-body::-webkit-scrollbar-thumb {
        background-color: #F2F2F2;
        border-radius: 20px;
        border: 1px solid #212121;
    }

    .interactions {
        width: 11vw;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 1% 5%;
    }

    .interactions img {
        width: 2vw;
        padding: .5vw;
    }