.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    background-color: #151515;
}

.leftBanner {
    width: 40%;
}

.ct-Rightinfo img {
    max-width: 100%;
}

.ct-Rightinfo,
.ct-Leftinfo {
    width: calc(100% - 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.title,
label {
    color: #f2f2f2;
}

label {
    font-weight: 700;
    font-size: 1.2vw;
}

.title h1 {
    font-size: 4vw;
    font-weight: 900;
}
.title h2 {
    font-size: 3vw;
    font-weight: 800;
    margin-bottom: .5em;
}

.title p{
    font-size: 1vw;
}

a {
    color: #F2F2F2;
    font-weight: bold;
}

form {
    max-width: 70%;
    margin-top: 1.6em;
}

form input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    margin: .8em 0 1em 0;
    color: #F2F2F2;
    font-size: 15px;
    outline: none;
    padding: 0.3vw;
}

.form-controll {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oneput {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.btn{
    padding: .5em 1.5em;
    border: #F2F2F2 solid 1.5px;
    border-radius: 10px;
    background: transparent;
    font-size: 1.3vw;
    font-weight: 900;
    transition: .25s ease-in-out;
    margin-top: 1em;
    cursor: pointer;
    color: #F2F2F2;
}

.btn:hover{
    box-shadow: 0px 15px 20px rgba(145, 145, 145, 0.4);
    transform: translateY(-5px);
    background: #F2F2F2;
    color: #151515;
}

.btn:active{
    transform: translateY(-1px);
}

.rightBanner img{
    transform: scaleX(-1);
}