.creating{
    height: 80vh;
    width: calc(100% - 20%);
    margin-left: 20%;
    margin-top: 17.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creating h4{
    font-size: 3vw;
}

.entryarea{
    position: relative;
    margin: 3vh;
}

.entryarea label{
    position: absolute;
    top: 50%;
    left: 0.5vw;
    transform: translateY(-50%);
    font-size: 1.2vw;
    color: #F2F2F2;
    padding: 0 0.5vw;
    pointer-events: none;
    transition: .3s ease-in-out;
}

.entryarea input{
    height: 6vh;
    width: 40vw;
    font-size: 1.2vw;
    color: #F2F2F2;
    padding: 0 1vw;
    background: transparent;
    border: 0.1vw solid #F2F2F2;
    outline: none;
    border-radius: 0.5vw;
}

.entryarea input:focus~label,
.entryarea input:valid~label{
    top: 0;
    font-size: 0.8vw;
    background: #151515;
}

.filearea{
    display: flex;
    width: 70%;
    justify-content: center;
}